*{
  box-sizing: border-box;
}
.sayfa a{
  color: black;
  padding: 8px 16px;
  background-color: rgb(241, 206, 248);
  font-size: larger;
  text-decoration: none;
}
.sayfa button{
  border: none;
  color:darkslategray;
  padding: 8px 16px;
  background-color: rgb(241, 206, 248);
  font-size: large;
}
.sayfa button:hover{
  background-color:rgba(0,0,0,0.19);
  color:darkslategray;
}
.sayfa a:hover{
  background-color:#6F3673 ;
  color: white;
}
.sayfa table{
  margin-right:auto;
  margin-left: auto;
  padding-bottom: 20px;
}
body {
  padding-top: 0%;
  background-color: rgb(255, 231, 245);
}

#heading {
  width: 100%;
  min-height: 150px;
  background-color: #fff3fa;
  position: sticky;
  top:0px
}

#title {
  font-family: brush script mt, cursive;
  font-size: 2vw;
  font-style: italic;
  letter-spacing: 4px;
  color: #6F3673;
}

#linktitle, .menulink {
  text-decoration: none;
}
.menulink:active{
    color: #6F3673;
}
#linktitle :active {
  color: #6F3673;
}


.menu {
  background-color: rgb(241, 206, 248);
  width: 100%;
  position: sticky;
  top: 0px; 
}
table.tablem{
    font-size: large;
    margin-left: 15%;
    font-family:'Courier New', Courier, monospace;
    color: #6F3673;
    font-style: oblique;
    background-color: rgb(241, 206, 248);
    position: sticky;
    top: 0px;
}

.dropdown:hover .menulink{
  
  color:#fff3fa ;
  border: none;
}
.dropdown:hover{
  background-color:#6F3673 ;
}
.dropdown{
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  position:relative;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a {
  color: #6F3673;
  padding: 12px 16px;
  text-decoration: none;
  display:flex;
  font-size: medium;
}

.dropdown_content a:hover 
{
  background-color: #6F3673;
  color: #fff3fa ;
}

.dropdown:hover .dropdown_content {
  display:block;
}
#container1{
  margin-top: 3%;
  margin-left: 0%;
  
}
.picBox{
  background-color: white;
  border-radius: 10%;
  border: 5px;
  border-color: darkgray;
}
.picBox:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.textBox{
  background-color: white;
  text-align: center;
  font-size:larger;
  padding-bottom: 5px;
  color: black;
 
}
#container1 a{
  text-decoration: none;
}
  #content{
    float: left;
    width: 70%;
    margin-top: 20px;
    margin-left: 3%;
  }
  .anaSayfaT{
    background-color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: justify;
    padding-right: 2%;
  }
  
#img{
  width:230px;
  height: 230px;
}
#section{
  float: right;
  width: 20%;
  margin-top: 20px;
  padding-left: 20px;
  background-color: #ffffff;
  
}
.rightSide{
  background-color: rgb(255, 255, 255);
  font-family:'Brush Script MT', cursive;
  padding : 20px 20px;

  
}
.rightSideImg{
  width: 4cm;
  height: 6cm;
}
#footer{
  width: 100%;
  height: 350px;
  background-color: #fff3fa;
  clear: both;
  
  text-align: center;
  color: black;
}
#footer a{
  text-decoration: none;
  color: black;
}
#footer a:hover{
  text-decoration: underline;
}
.blok1{
  width: 20%;
  float: left;
}
.blok2{
  width: 40%;
  float: left;
}
.blok3{
  width: 70%;
  float: right;
}
#contentcicek{
  padding-left: 10%;
  padding-top: 5%;
  border: 2%;
  border-radius: 5%;
}

.productImg{
  width: 300px;
  height: 490px;
  width: 40%;
  float: left;
}
#img1{
  display: none;
}
#img3{
  display: none;
}

.productname{
 width:45% ;
 height: 490px;
 float: right;
 background-color: white;
 font-size: larger;
 padding-left: 25px;
 padding-right: 25px;
 margin-right: 5%;
}
.productname h1{
  margin-left: 30px;
  margin-top: 40px
}

  .fa {
    padding: 7px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 0px 0px;
    border-radius: 70%;
  }


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
@media only screen and (max-width:600px) {